# Porta onde o servidor de vendas irá rodar
PORT=8090

# Token de Acesso Pessoal (PAT) do GitHub com permissão de escrita no Gist
GITHUB_TOKEN=ghp_seu_token_aqui

# URL da Coins API (Para checar se o pagamento caiu)
COINS_API_URL=http://127.0.0.1:5001

# Valor em Tibia Coins para a licença do M-Auth
MAUTH_COINS_AMOUNT=25

# Valor em Tibia Coins para a licença do BossBot
BOSSBOT_COINS_AMOUNT=1000
